:root{
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}


*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Manrope', sans-serif;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:  100vh;
    text-align: center;
}

.card{
    background-color: var(--dark-grayish-blue);
    margin: 1rem;
    padding: 2rem 2rem 3rem;
    border-radius: 1rem;
    max-width: 400px;
    position: relative;
}

.advice-title{
    color: var(--neon-green);
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 4px;
    margin-bottom: 24px;
}

.advice-text{
    color: var(--light-cyan);
    font-size: 1.4rem;
    margin-bottom: 24px;
}

.pattern-divider{
    max-width: 100%;
}

.btn{
    background-color: var(--neon-green);
    border: none;
    border-radius: 50%;
    padding: 1.2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2rem;
    cursor: pointer;
}

.github-link{
    display: none;
}

@media (min-width: 600px) {
    .card {
      min-width: 580px;
    }
  }